<div class="list row">
  <div class="col-md-6">
    <h4>Laptops list</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentTutorial">
      <app-laptop-details
        (refreshList)="refreshList()"
        [tutorial]="currentTutorial"
      ></app-laptop-details>
    </div>

    <div *ngIf="!currentTutorial">
      <br />
      <p>Please click on a laptop...</p>
    </div>
  </div>
</div>