<mat-sidenav-container style="display: flex; justify-content: space-between; align-items: flex-start">
  <mat-sidenav-content style="width: 50%; overflow-y: auto; height: 70vh">
    <mat-card>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let laptop of laptops; let i = index" (click)="setActiveLaptop(laptop, i)">
          <mat-icon matListItemIcon>laptop_mac</mat-icon>
          <div matListItemTitle>{{ laptop.name }}</div>
        </mat-list-option>
      </mat-selection-list>
      </mat-card>
  </mat-sidenav-content>
  <mat-sidenav-content style="width: 50%">
    <mat-card *ngIf="currentLaptop">
      <app-laptop-details (refreshList)="refreshList()" [laptop]="currentLaptop"></app-laptop-details>
    </mat-card>
    <mat-card *ngIf="!currentLaptop">
      <br/>
      <p class="center">Please click on a laptop...</p>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>