<div class="row" *ngIf="authService.userData as user">
    <div class="col-md-12">
        <div class="media">
            <!-- <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
          alt="{{user.displayName}}"> -->
            <div class="media-body">
                <p><strong>User: </strong>{{(user.displayName) ? user.displayName : 'unknown'}}</p>
                <p><strong>User ID: </strong>{{user.uid}}</p>
                <p><strong>User roles: </strong>{{(user.roles) ? user.roles: 'aaa'}}</p>
                <p><strong>Email: </strong>{{user.email}}</p>
                <p><strong>Email Verified: </strong>{{user.emailVerified}}</p>
                <div *ngFor="let item of authService.userData.roles | keyvalue">
                    Key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b>
                </div>
            </div>
        </div>
    </div>
</div>