  <mat-toolbar color="primary">
    <span>
      <a [routerLink]="['/home']"><img src="assets/images/bran.png" alt="brand_logo" style="height:2rem;"></a>
    </span>
      <div class="spacer"></div>
    <a mat-button [routerLink]="['/home']"><mat-icon>shop</mat-icon>Shop</a>
    <a *ngIf="authService.isLoggedIn" mat-button [routerLink]="['/dashboard']"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a *ngIf="!authService.isLoggedIn" mat-button [routerLink]="['/login']">Log In</a>
    <a *ngIf="!authService.isLoggedIn" mat-button [routerLink]="['/register']">Sign Up</a>
    <a *ngIf="authService.isLoggedIn" mat-button (click)="ShowDialog()"><mat-icon>exit_to_app</mat-icon>Log Out</a>
  </mat-toolbar>
  <div class="wrapper">
    <app-products-card></app-products-card>
  </div>
  <div class="footer">
    <div class="footerText">
      For more information, please visit our newsletter.
    </div>
    <div class="buttonUp">
      <button (click)="gotoTop()" id="myBtn"><mat-icon>keyboard_arrow_up</mat-icon></button>
    </div>
  </div>