<div class="text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <a [routerLink]="['/']"><img src="assets/images/bran.png" alt="brand_logo" style="height:2rem;"></a>
        <!-- <h3 class="float-md-start mb-0">NetCap</h3> -->
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0" [routerLink]="['/dashboard']">Dashboard</a>
          <a
            class="nav-link fw-bold py-1 px-0 active"
            aria-current="page"
            href="products.html"
            >Products
            </a>
          <a class="nav-link fw-bold py-1 px-0" [routerLink]="['/login']"> Log In</a>
        </nav>
      </div>
    </header>
  </div>

  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Laptop catalog</h1>
          <p class="lead">
            Welcome to the laptop zone.<br />First see then buy.
          </p>
          <p class="lead">
            Familiarize yourself with our rich offer! Each laptop is prepared by a super qualified technician. Nothing more nothing less!
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col">
            <div class="card shadow-sm">
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <image
                  href="https://a.allegroimg.com/s360/11e6b7/f4a613da445e9816450266dbc2ce/BUTY-MESKIE-4F-TREKKINGOWE-WODOODPORNE-ZIMOWE-R-42"
                  height="100%"
                  width="100%"
                />
              </svg>

              <div class="card-body">
                <p class="card-text">
                  <b>Numer artykułu:</b> 1372879 <br />
                  <b>Kolor:</b> beżowy <br />
                  <b>Materiał wierzchni:</b> materiał syntetyczny (PU) <br />
                  <b>Wnętrze buta:</b> materiał tekstylny <br />
                  <b>Podeszwa:</b> materiał syntetyczny <br />
                  sznurowane <br />
                  ocieplane <br />
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Zobacz
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Kup
                    </button>
                  </div>
                  <small class="text-muted">Pozostało 3</small>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </main>

  <footer class="py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-0">
        For more information, please visit our newsletter.
      </p>
    </div>
  </footer>
</div>
