<div class="main-div">
  <mat-card>
    <mat-card-content>
      <a [routerLink]="['/home']"><img src="/assets/images/logomini.png" alt="Logo"
          style="height: 3.5rem; margin-bottom: 1.5rem;"></a>
      <h2>Login to NetCap</h2>
      <mat-form-field >
        <mat-label>E-mail</mat-label>
        <input matInput type="email" #userName required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" (keydown.enter)="authService.SignIn(userName.value, userPassword.value)" #userPassword required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="authService.SignIn(userName.value, userPassword.value)">
        Log in
      </button>
      <button mat-raised-button (click)="authService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        Log in with Google
      </button>
    </mat-card-content>
    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" [routerLink]="['/register']"><strong> Sign Up </strong></span>
    </span>
    </div>
  </mat-card>
</div>