<mat-card class="laptop-card">
    <mat-card-header>
        <mat-card-title>
            <div class="titlebox"><a href="#">{{laptop!.name}}</a></div>
        </mat-card-title>
    </mat-card-header>
    <div class="ripple-container" matRipple>
        <img mat-card-image src="{{ laptop!.image }}" alt="Laptop">
    </div>
    <mat-card-content>
        <div class="price">
            <p>Price: {{ laptop!.price!.old_price }} {{ laptop!.price!.currency }}</p>
        </div>
        <div class="basic-spec">
            <p>{{laptop!.info}}</p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button><mat-icon>credit_card</mat-icon>BUY NOW</button>
    </mat-card-actions>
</mat-card>