<form>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Main parameters
          </mat-panel-title>
          <mat-panel-description>
            Basic laptop specifics
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="title">Title</label>
          <input type="text" matInput id="title" [(ngModel)]="currentLaptop.name" name="title" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="description">Description</label>
          <input type="text" matInput id="description" [(ngModel)]="currentLaptop.info" name="description" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="mpn">MPN</label>
          <input type="text" matInput id="mpn" [(ngModel)]="currentLaptop.mpn" name="mpn" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="mpn">Images</label>
          <input type="text" matInput id="images" [(ngModel)]="currentLaptop.images" name="images" />
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Advanced parameters
          </mat-panel-title>
          <mat-panel-description>
            Advanced specs
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="cpu_implementation">CPU Implementation</label>
          <input type="text" matInput id="cpu_implementation" [(ngModel)]="currentLaptop.main!.cpu_implementation"
            name="cpu_implementation" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="cpu_number_of_cores">CPU Number of Cores</label>
          <input type="text" matInput id="cpu_number_of_cores" [(ngModel)]="currentLaptop.main!.cpu_number_of_cores"
            name="cpu_number_of_cores" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="cpu_type">CPU Type</label>
          <input type="text" matInput id="cpu_type" [(ngModel)]="currentLaptop.main!.cpu_type" name="cpu_type" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="design_color_name">Design Color Name</label>
          <input type="text" matInput id="design_color_name" [(ngModel)]="currentLaptop.main!.design_color_name" name="design_color_name" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="display_size__inch">Display Size Inch</label>
          <input type="text" matInput id="display_size__inch" [(ngModel)]="currentLaptop.main!.display_size__inch" name="display_size__inch" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="memory_ram__gb">Memory RAM GB</label>
          <input type="text" matInput id="memory_ram__gb" [(ngModel)]="currentLaptop.main!.memory_ram__gb" name="memory_ram__gb" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="storage_capacity__gb">Storage Capacity GB</label>
          <input type="text" matInput id="storage_capacity__gb" [(ngModel)]="currentLaptop.main!.storage_capacity__gb" name="storage_capacity__gb" />
        </mat-form-field>
        <mat-form-field style="width: 100%; margin: 16px 0">
          <label for="storage_type">Storage Type</label>
          <input type="text" matInput id="storage_type" [(ngModel)]="currentLaptop.main!.storage_type" name="storage_type" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="form-group">
      <label><strong>Status:</strong></label>
      {{ currentLaptop.published ? "Published" : "Pending" }}
    </div>
    <button mat-stroked-button color="primary" *ngIf="currentLaptop.published" (click)="updatePublished(false)">UnPublish</button>
    <button mat-stroked-button color="primary" *ngIf="!currentLaptop.published" (click)="updatePublished(true)">Publish</button>
    <button mat-stroked-button color="primary" type="submit" (click)="updateLaptop()">Update</button>
    <button mat-stroked-button color="warn" (click)="deleteLaptop()">Delete</button>

    <p>{{ message }}</p>
  </mat-card-content>
</form>