@use '@angular/material' as mat;
@use './app/components/dashboard/products/products/products.component.scss' as productsTheme;
@import "@angular/material/theming";
@import "node_modules/bootstrap/scss/bootstrap";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

@include mat.core();

$mat-primary: (
  main: #337ecc,
  lighter: #c2d8f0,
  darker: #2061b9,

);
$app-primary: mat-palette(mat.$indigo-palette, 500);
$app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$app-primary-dark: mat-palette(mat.$indigo-palette, 300);

$app-light-theme: mat.define-light-theme((
 color: (
   primary: $app-primary,
   accent: $app-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

$app-dark-theme: mat.define-dark-theme((
 color: (
   primary: $app-primary-dark,
   accent: $app-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($app-light-theme);
@include productsTheme.theme($app-light-theme);

.darkMode {
  @include mat.all-component-colors($app-dark-theme);
  @include productsTheme.theme($app-dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}