<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <span>
    <a [routerLink]="['/home']"><img src="assets/images/bran.png" alt="brand_logo" style="height:2rem;"></a>
  </span>
  <div style="flex: 1 0 auto;"></div>
  <mat-icon>brightness_5</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8 nav-tool-items">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>
<mat-sidenav-container style="min-height: calc(100% - 64px);">
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item [routerLink]="['/dashboard/user-profile']">
        <mat-icon>person</mat-icon> User Profile
      </a>
      <a mat-list-item [routerLink]="['/dashboard/products']">
        <mat-icon>inventory_2</mat-icon> Products
      </a>
      <a mat-list-item [routerLink]="['/dashboard/api']">
        <mat-icon>api</mat-icon> REST API
      </a>
      <a mat-list-item (click)="ShowDialog()">
        <mat-icon>logout</mat-icon> Log out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main content -->
  <mat-sidenav-content>
    <h1>Welcome in our shop!</h1>
    <mat-divider style="margin-bottom: 10px;"></mat-divider>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>