<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>NetCap</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item [routerLink]="['/dashboard/user-profile']">
        <mat-icon>person</mat-icon> User Profile
      </a>
      <a mat-list-item [routerLink]="['/dashboard/products']">
        <mat-icon>inventory_2</mat-icon> Products
      </a>
      <a mat-list-item (click)="authService.SignOut()">
        <mat-icon>logout</mat-icon> Log out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Applying the mat-tyography class adds styles for native elements. -->
    <section class="mat-typography title-group">
      <h1>Welcome in our shop!</h1>
      <mat-divider></mat-divider>
    </section>
    <!-- Angular material cards -->
    <div class="productCards">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
