.header {
  justify-content: right;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

mat-toolbar {
  min-height: 64px;
  max-height: 64px;
}

mat-toolbar mat-icon {
  margin: 10px;
}

.mat-sidenav,
.mat-sidenav-content {
  padding: 15px;
}

.mat-sidenav-content {
  padding: 25px 40px 0;
}

.mat-sidenav {
  width: 250px;
}

mat-sidenav mat-icon {
  margin-right: 12px;
}

.hamburger {
  cursor: pointer;
  margin: 5px 10px 0 20px !important;
}

@media (max-width:1024px) {
  .mat-sidenav-content {
    padding: 20px 20px 0;
  }
  .mat-sidenav {
    width: 230px;
  }
}

@media (max-width:767px) {
  .nav-tool-items {
    margin-right: 0;
  }
  .hamburger {
    visibility: visible !important;
  }
}
