.full-width-field {
    width: 100%;
}

:host ::ng-deep .mat-form-field-wrapper{
  margin: 0 !important;
  padding: 0;
}

#statusbtn {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

.laptopimage {
  height: auto;
  width: 15rem;
  max-height: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: block;
}

